@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: 1px solid blue; */
}

:root{
    --tipografia1: "Raleway", sans-serif;
    --tipografia2: "Open Sans", sans-serif;
    --negro: #000000;
    --gris: #333333;
    --grisSemiOscuro: #929292;
    --grisClaro: #d4d4d4;
    --grisClaro2: #f5f5f5;
    --naranja: #ff9b51;
    --blanco: #fff;
}

/* Tipografías */
.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

/* Navbar */
nav{
    background-color: var(--negro);
    height: 65px;
    padding: 0 11% 0 11%;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

.nav-img{
    width: 47%;
    height: 47%;
}

nav ul{
    list-style: none;
    display: flex;
    color: var(--blanco);
    gap: 20px;
    font-size: 15px;
    font-family: var(--tipografia2);
}

/* Banner Contwent */
.banner-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)), url(assets/headerBg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    /*background-position: center 100px;*/
    height: 95vh;
    padding: 7% 10% 0 10%;
}

.banner-content{
    font-family: var(--tipografia2);
    color: white;
    width: 500px;
}

.banner-content h1{
    font-weight: 300;
    font-size: 36px;
    padding-top: 20px;
}

.banner-content p{
    font-size: 16px;
    font-weight: 300;
}

hr{
    border-bottom: 1px solid white;
    width: 68px;
}

.transparent-button{
    border-color: var(--blanco);
    color: var(--blanco);
    border: 1px solid;
    background-color: transparent;
    padding: 6px 24px 6px 24px;
    font-size: 16px;
    margin-top: 20px;
}

.banner-items{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

/* Banner Form */
.formulario{
    background-color: var(--blanco);
}

.formulario h2{
    background-color: var(--grisClaro2);
    font-family: var(--tipografia1);
    color: var(--gris);
    font-size: 18px;
    width: 300px;
    height: 45px;
    align-content: center;
    text-align: center;
}

input{
    border: none;
    padding-left: 14px;
    font-size: 15px;
    width: 220px;
    border-bottom: 1px solid var(--grisClaro);
}

::placeholder{
    color: var(--grisClaro);
}

.elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 230px;
    list-style: none;
    gap: 50px;
}

.button-free{
    background-color: var(--naranja);
    font-family: var(--tipografia1);
    color: var(--blanco);
    border: none;
    font-weight: 400;
    width: 300px;
    font-size: 14px;
    padding: 11px 0 11px 0 ;
}

/* Social Media */
.social-media{
    padding: 10px 11% 10px 9%;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-media p{
    color: var(--grisSemiOscuro);
    font-size: 14px;
    width: 500px;
}

.social-media h2{
    font-size: 18px;
}

.redes{
    display: flex;
    gap: 20px;
}

.redes img{
    width: 10%;
}

.line-social{
    border-bottom: 2px solid var(--grisClaro);
    border-top: none;
    width: 100%;
}

/* Primer Bloque */
.block1{
    background-color: var(--grisClaro2);
    padding: 7% 10% 7% 10%;
    font-family: "Open Sans", sans-serif;
}

.block1-content{
    display: flex;
    gap: 80px;
}

.tab1{
    background-color: var(--naranja);
    color: var(--blanco);
    text-align: center;
    align-content: center;
    border-bottom: 1px solid var(--blanco);
    width: 85px;
    height: 94px;
}

.tab2{
    background-color: var(--gris);
    color: var(--blanco);
    text-align: center;
    align-content: center;
    border-bottom: 1px solid var(--blanco);
    width: 85px;
    height: 94px;
}

.block1-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.block1-text h2{
    color: var(--gris);
    font-size: 18px;
}

.block1-textP{
    color: var(--grisSemiOscuro);
    font-size: 14px;
}

.orange-button{
    background-color: var(--naranja);
    color: var(--blanco);
    border-radius: 2px;
    border: none;
    width: 120px;
    height: 30px;
}

/* Segundo Bloque: sub-list */
.sub-list{
    padding: 7% 10% 7% 10%;
    font-family: "Open Sans", sans-serif;
    display: flex;
    gap: 150px;
}

.subList-img{
    width: 60%;
    /*desplazamiento vertical, horizontal, desenfoque y color*/
    filter: drop-shadow(4px 10px 14px #a8a8a8);
}

.sub-list p{
    color: var(--grisSemiOscuro);
    font-size: 14px
}

.content-subList{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.content-subList h2{
    color: var(--gris);
    font-size: 18px;
}

.sub-tittle h3{
    color: var(--gris);
    font-size: 14px;
}

.content-subList hr{
    border: 1px solid var(--naranja);
}

.content-subTittle{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.sub-tittle{
    display: flex;
    gap: 15px;
}

.sub-tittle img{
    width: 36px;
    height: 36px;
}

/* Tercer Bloque: Standard */
.standard{
    padding: 7% 10% 7% 10%;
    background-color: var(--grisClaro2);
    font-family: var(--tipografia2);
    display: flex;
    gap: 150px;
}

.standard img{
    width: 60%;
    filter: drop-shadow(4px 10px 14px #a8a8a8);
}

.standard-text{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.standard-text h2{
    color: var(--gris);
    font-size: 18px;
}

.standard-text p{
    color: var(--grisSemiOscuro);
    font-size: 14px;
}

.standard-text hr{
    border: 1px solid var(--naranja);
}

/* Cuarto Bloque: Awesome */
.awesome{
    padding: 7% 10% 7% 10%;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    gap: 70px;
}

.thisIsAwesome{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.thisIsAwesome h2{
    font-family: var(--tipografia1);
    color: var(--gris);
    font-size: 26px;
    font-weight: 400;
}

.thisIsAwesome p{
    font-family: var(--tipografia2);
    color: var(--grisSemiOscuro);
    font-size: 14px;
}

.thisIsAwesome hr{
    border: 1px solid var(--naranja);
    margin-left: 47%; /*22 (padding left, right) + 6 (width) + 46 + 26 = 100 de la pantalla*/
    margin-right: 28%;
    width: 6%;
}

.awesome-items{
    font-family: var(--tipografia2);
    color: var(--grisSemiOscuro);
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.icons-awesome h3{
    color: var(--gris);
}

.icons-awesome{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 15px;
}

.icons-awesome p{
    font-size: 14px;
    color: var(--grisSemiOscuro);
}

.icons-awesome img{
    width: 60px;
    height: 60px;
}

/* Quinto Bloque: Pricing */
.pricing{
    padding: 7% 10% 7% 10%;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    gap: 60px;
    font-family: var(--tipografia1);
    background-color: var(--grisClaro2);
}

.pricing-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pricing-text h2{
    font-weight: 400;
    color: var(--gris);
}

.pricing-text p{
    color: var(--grisSemiOscuro);
}

.pricing-text hr{
    border: 1px solid var(--naranja);
    margin-left: 47%; 
    width: 6%;
}

/* Cards-Pricing */
.pricing-cards{
    display: flex;
    justify-content: space-around;
    align-items: end;
    gap: 45px;
}

.card1{
    text-align: center;
    width: 300px;
}

.card1-tittle{
    background-color: var(--gris);
    display: flex;
    flex-direction: column;
    color: var(--blanco);
    gap: 10px;
    padding: 6px 0 6px 0;
    border-bottom: 4px solid var(--naranja);
}

.price-p{
    font-size: 30px;
    font-weight: 600;
}

.price{
    font-size: 70px;
    font-weight: 600;
}

.white-line{
    border: 1px solid var(--blanco);
    width: 100%;
}

.information-card1{
    background-color: var(--blanco);
    color: var(--grisSemiOscuro);
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 0;
    gap: 10px
}

.information-card1 hr{
    border: 1px solid var(--grisClaro2);
    width: 100%;
}

.information-card1 p{
    font-size: 12px;
}

/* Card2 */
.card2{
    width: 300px;
}

.card2-tittle{
    background-color: var(--gris);
    display: flex;
    flex-direction: column;
    color: var(--blanco);
    padding: 6px 0 0 0;
    gap: 10px;
}

.price-p2{
    font-size: 30px;
    font-weight: 600;
}

.price2{
    font-size: 70px;
    font-weight: 600;
}

.white-line2{
    border: 1px solid var(--blanco);
    width: 100%;
}

.orange-line2{
    background-color: var(--naranja);
    padding: 10px 0 10px 0;
    font-weight: bold;
}

.information-card2{
    background-color: var(--blanco);
    color: var(--grisSemiOscuro);
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 0;
    gap: 10px;
}

.information-card2 hr{
    border: 1px solid var(--grisClaro2);
    width: 100%;
}

.information-card2 p{
    font-size: 13px;
}

/* Sexto Bloque: Costumers */
.costumers-review{
    padding: 7% 10% 7% 10%;
}

.tittle-costumersR{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tittle-costumersR h2{
    color: var(--gris);
    font-weight: 400;
    font-family: var(--tipografia1);
}

.tittle-costumersR hr{
    border: 1px solid var(--naranja);
    margin-left: 47%; 
    width: 6%;
}

.costumers-review p{
    font-size: 13px;
    color: var(--grisSemiOscuro);
    font-family: var(--tipografia2);
}

.reviews-inline{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.image-costumers{
    position: relative;
    display: inline-block;
}

.image-costumers img{
    display: block;
    width: 100%;
}

.info-costumers{
    position: absolute;
    top: 10%;
    padding: 0 14px 0 14px;
}

.info-profile{
    display: flex;
    gap: 15px;
    align-items: center;
}

.info-profile img{
    border-radius: 50px;
    width: 65px;
    height: 65px;
}

.info-profile h3{
    color: var(--gris);
    font-family: var(--tipografia2);
    font-size: 15px;
}

/* Últimos bloques */
.axure{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0)), url(assets/bg2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    color: var(--blanco);
    font-family: var(--tipografia1);
    font-weight: 200;
    padding: 5% 0 5% 0;
    text-align: center;
}

.axure hr{
    margin-left: 48%; 
    width: 4%;
}

.axure h2{
    font-weight: 300;
    padding-bottom: 15px;
}

.axure p{
    padding-top: 15px;
}

.axure button{
    width: 130px;
}

/* Contact Us */
.contact-us{
    padding: 7% 10% 7% 10%;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    gap: 60px;
}

.contact-us p{
    font-family: var(--tipografia1);
    color: var(--grisSemiOscuro);
}

.contact-form{
    display: flex;
    list-style: none;
    padding: 4% 0 4% 0;
    justify-content: space-around;
}

.contact-form input{
    width: 450px;
}

.com-form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.com-form input{
    padding-bottom: 6px;
}

.message-input input{
    padding-bottom: 104px;
}

.contact-button{
    background-color: #ff9b51;
    color: var(--blanco);
    border-radius: 2px;
    border: none;
    width: 120px;
    height: 30px;
}

footer{
    background-color: black;
    padding: 15px 0 15px 0;
    color: var(--blanco);
    font-family: var(--tipografia2);
    font-size: 12px;
    font-weight: 100;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img{
    width: 22%;
}

/*
@media screen and (min-width: 921px) and (max-width: 1279px){
    .banner-image{
        height: 85vh;
    }

    .banner-content h1{
        font-size: 28px;
        padding-top: 20px;
    }

    .social-media p{
        width: 260px;
    }

    .social-media{
        padding: 10px 2% 10px 9%;
    }


    .redes img{
        width: 8%;
    }

    .contact-form input{
        width: 330px;
    }

    .tab1{
        width: 75px;
        height: 84px;
    }

    .block1{
        padding: 7% 9% 7% 9%;
        justify-content: space-around;
    }

    .block1-text{
        width: 540px;
        gap: 10px;
    }

    .block1-content{
        gap: 20px;
    }

    .block1-content img{
        width: 190px;
    }

    .image-block1{
        justify-content: center;
    }

    .tab2{
        width: 75px;
        height: 84px;
    }

    .sub-list{
        padding: 7% 9% 7% 9%;
        gap: 50px;
    }

    .subList-img{
        width: 100%;
    }

    .image-sublist{
        width: 30%;
    }


}